.space{
   
    margin: 40px ;
   /*  background-color: black; */
    padding: 50px;

}
@media (max-width:450px){
    .mb-3{
        width:98%;
       
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:400px){
    .mb-3{
        width:120%;
       
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:350px){
    .mb-3{
        width:130%;
       
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}