<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form"   [formGroup]="formdata" (ngSubmit)="getdata(formdata.value)" > <br><br>
				<div class="form-group">
					 
		
					<input type="text" class="form-control" id="exampleInputEmail1"  formControlName="city" placeholder="Enter city name">
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div><br>
  <div class="alert alert-danger" role="alert" *ngIf="yes2">
		Sorry we can't find any city with this name !
	  </div>

<div *ngIf="show">

<div class={{color}} style="max-width: 18rem;">
    <div class="card-header">CO</div>
    <div class="card-body">
      <h5 class="card-title"> Carbon monoxide (CO)</h5>
      <p class="card-text">Сoncentration of CO (Carbon monoxide), μg/m3  <br> aqi={{aqi}} </p>
    </div>
  </div>

<div class="space">

  <div class="card-columns cards">

  <div class="card text-white bg-primary mb-3" >
    <div class="card-header">CO</div>
    <div class="card-body">
      <h5 class="card-title"> Carbon monoxide (CO)</h5>
      <p class="card-text">Сoncentration of CO (Carbon monoxide), μg/m3  <br> CO={{co}}</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" >
    <div class="card-header">NH3</div>
    <div class="card-body">
      <h5 class="card-title">Ammonia (NH3)</h5>
      <p class="card-text">Сoncentration of NH3 (Ammonia), μg/m3 <br> NH3={{nh3}}</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" >
    <div class="card-header">NO</div>
    <div class="card-body">
      <h5 class="card-title">Nitrogen monoxide (NO)</h5>
      <p class="card-text"> Сoncentration of NO (Nitrogen monoxide), μg/m3  <BR>  NO={{no}</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" >
    <div class="card-header">NO2</div>
    <div class="card-body">
      <h5 class="card-title"> Nitrogen dioxide (NO2)</h5>
      <p class="card-text">Сoncentration of NO2 (Nitrogen dioxide), μg/m3 <br><br> NO2={{no2}}</p>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" >
    <div class="card-header">O3</div>
    <div class="card-body">
      <h5 class="card-title">Ozone (O3)</h5>
      <p class="card-text"> Сoncentration of O3 (Ozone), μg/m3 <br><br> O3={{o3}} </p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" >
    <div class="card-header">PM2_5</div>
    <div class="card-body">
      <h5 class="card-title">Fine particles matter</h5>
      <p class="card-text">Сoncentration of PM2.5 (Fine particles matter) <br> PM2_5={{pm2_5}} </p>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-header">PM10</div>
    <div class="card-body">
      <h5 class="card-title">Coarse particulate matter</h5>
      <p class="card-text">Сoncentration of PM10 (Coarse particulate matter) <br> PM10={{pm10}}</p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">SO2</div>
    <div class="card-body">
      <h5 class="card-title">Sulphur dioxide</h5>
      <p class="card-text">Сoncentration of SO2 (Sulphur dioxide), μg/m3 <br> SO2={{so2}}</p>
    </div>
  </div>
</div>
</div>

